# secret files
.env

# Python cache and environment files
__pycache__/
*.pyc
.venv/
venv/
venv_cache/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/

# IDE files
.vscode/

# application output
/llm_bug_analysis/results/
# exclude
!/llm_bug_analysis/results/results.csv

/llm_bug_analysis/corpus.json

# backup files
*.backup

# testing
.coverage
htmlcov/
.pytest_cache/