# secret files
.env

# Python cache and environment files
__pycache__/
*.pyc
.venv/
venv/
venv_cache/

# IDE files
.vscode/

# Application output
/llm_bug_analysis/results/
# exclude
!/llm_bug_analysis/results/results.csv
    
/llm_bug_analysis/corpus.json

# backup files
*.backup