annotated-types==0.7.0
anthropic==0.68.0
anyio==4.10.0
asv==0.5.1
attrs==21.4.0
black==22.12.0
build==1.3.0
CacheControl==0.14.3
cachetools==5.5.2
certifi==2025.8.3
cffi==2.0.0
cfgv==3.4.0
charset-normalizer==3.4.3
cleo==2.1.0
click==8.1.8
colorama==0.4.6
coverage==7.6.1
crashtest==0.4.1
cryptography==46.0.1
distlib==0.3.9
distro==1.9.0
docstring_parser==0.17.0
dulwich==0.24.1
fastjsonschema==2.21.2
filelock==3.16.1
findpython==0.7.0
flake8==7.3.0
gitdb==4.0.12
GitPython==3.1.45
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.182.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
grpcio==1.75.0
grpcio-status==1.71.2
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.0
httpx==0.28.1
identify==2.6.1
idna==3.10
iniconfig==2.1.0
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jeepney==0.9.0
jiter==0.11.0
keyring==25.6.0
libcst==1.7.0
linkify-it-py==2.0.3
mando==0.7.1
markdown-it-py==3.0.0
mccabe==0.7.0
mdit-py-plugins==0.5.0
mdurl==0.1.2
more-itertools==10.8.0
msgpack==1.1.1
mutmut==3.3.1
-e git+https://github.com/engemkeres/thesis.git@2a35681c3d8afaf89579a56011b6c58c6474d1ac#egg=my_thesis_project
mypy==1.14.1
mypy_extensions==1.1.0
nodeenv==1.9.1
openai==1.108.1
packaging==25.0
pathspec==0.12.1
pbs-installer==2025.9.18
pkginfo==1.12.1.2
platformdirs==4.3.6
pluggy==1.5.0
poetry==2.2.1
poetry-core==2.2.1
pre-commit==2.21.0
proto-plus==1.26.1
protobuf==5.29.5
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==2.23
pydantic==2.11.9
pydantic_core==2.33.2
pyflakes==3.4.0
PyGithub==2.8.1
Pygments==2.19.1
PyJWT==2.10.1
PyNaCl==1.6.0
pyparsing==3.2.5
pyproject_hooks==1.2.0
pytest==7.4.4
pytest-cov==3.0.0
python-dotenv==1.1.1
PyYAML==6.0.2
radon==6.0.1
RapidFuzz==3.14.1
requests==2.32.5
requests-toolbelt==1.0.0
# Editable install with no version control (rich==14.0.0)
-e /tmp/tmpthe4yu3c
rsa==4.9.1
SecretStorage==3.4.0
setproctitle==1.3.7
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
textual==6.1.0
toml==0.10.2
tomlkit==0.13.3
tqdm==4.67.1
trove-classifiers==2025.9.11.17
typing-inspection==0.4.1
typing_extensions==4.13.2
uc-micro-py==1.0.3
uritemplate==4.2.0
urllib3==2.5.0
uv==0.8.22
virtualenv==20.31.2
zstandard==0.25.0
